<div style=
"text-align: center;font-family:'Open Sans', sans-serif; font-size: 48px;">
    Welcome to Forestwood PTA!
</div>

<div class="text" style=
"text-align: center;font-family:'Open Sans', sans-serif">
    We are a community-driven PTA (with both students and adults driving the
    PTA) with lots of help. With this new website, we can jump for new heights.
    We can go above and beyond. We can connect with parents and students in
    real time. So, why not go ahead? See for yourself.
</div>

<div style=
"text-align: center;font-family:'Open Sans', sans-serif; font-size: 32px;">
    What we're doing this week
</div>

<div id='calendar'></div>
<a href="javascript:evilDemondsStareAtYourSoul();">Print this calendar</a>
