<div style="text-align: center;font-family:'Open Sans', sans-serif;">You can find us here:</div>
<iframe style="text-align: center;" width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Forestwood%20Middle%20School%2C%20Morriss%20Road%2C%20Flower%20Mound%2C%20TX%2C%20United%20States&key=AIzaSyAsa_u5JpA7LhJv44gpYjUD6ROahQo7xHI"></iframe>
<div style="text-align: center;font-family:'Open Sans', sans-serif;">Connect with us!</div>
<p>
President: Michelle Bagrow (<a href="mailto:bagrowpm@msn.com">bagrowpm@msn.com</a>)
</p>
<p>
Vice President: Jodi Novack (<a href="mailto:jodinovak2@gmail.com">jodinovak2@gmail.com</a>)
</p>
<p>
Secretary: Marilyn Voss (<a href="mailto:mvoss@flash.net">mvoss@flash.net</a>)
</p>
<p>
Treasurer: Karen Hodge (<a href="mailto:kdhodge@verizon.net">kdhodge@verizon.net</a>)
</p>
<p>
If you want to join PTA, please contact:
</p>
<p>
Mary Beth DeJardins:  (<a href="mailto:marybeth@pulsestream.net">marybeth@pulsestream.net</a>)
</p>
<p>
If you are interested in volunteering at our school, please contact:
</p>
<p>
Beth Baltimanis:  (<a href="mailto:baltmanis@verizon.net">baltmanis@verizon.net</a>)
 </p>
<div id="fb-root"></div>
<div style="text-align: center;" class="fb-follow" data-href="https://www.facebook.com/pages/Forestwood-Middle-School-PTA/1541045122783229" kid_directed_site="true" data-colorscheme="light" data-layout="button_count" data-show-faces="true"></div>
<div style="text-align: center;" class="g-plusone" data-annotation="bubble" data-width="300" data-href="https://plus.google.com/u/0/101956620875279642687/posts"></div>
